.card {
    border: 1px solid #aa3bff;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
    margin: .5rem;
    width: 35%;
    height: 500px;
    line-height: 2.5rem;
    overflow-y: scroll;
}

@media (max-width: 430px) {
    .card {
        width: 100%;
    }
}